<a href="https://colab.research.google.com/github/samanthasu12/TA-Strike-Analysis-For-Daily-Nexus/blob/main/TAStrikeReddit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install praw

In [2]:
pip install praw

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting praw
  Downloading praw-7.6.1-py3-none-any.whl (188 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.8/188.8 KB 2.7 MB/s eta 0:00:00
Collecting update-checker>=0.18
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Collecting websocket-client>=0.54.0
  Downloading websocket_client-1.4.2-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.3/55.3 KB 3.5 MB/s eta 0:00:00
Collecting prawcore<3,>=2.1
  Downloading prawcore-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: requests<3.0,>=2.6.0 in /usr/local/lib/python3.8/dist-packages (from prawcore<3,>=2.1->praw) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2022.12.7)
Installing collected packages: websocket-client, update-checker, prawcore, praw
Successfully installed praw-7.6.1 prawcore-2.3.0 update-checker-0.18.0 websocket-client-1.4.2

In [3]:
#imports for reddit scraping/diagrams/sentiment analysis
import praw
import pandas as pd
import datetime
import nltk                                
import matplotlib.pyplot as plt            
import random                             
import re                                 
import string                                     
from nltk.stem import PorterStemmer       
from nltk.tokenize import sent_tokenize  
from textblob import TextBlob
import seaborn as sns
import numpy as np
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import word_tokenize, RegexpTokenizer 
from nltk.corpus import stopwords
from pandas import option_context

# visualization
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = (10, 8) 
import seaborn as sns
sns.set(style='whitegrid', palette='Dark2')
from wordcloud import WordCloud

In [4]:
plt.rcParams['figure.dpi'] = 200
plt.rcParams['savefig.dpi'] = 200

In [6]:
#my developer access code
reddit_read_only = praw.Reddit(client_id="RGdKiAFJPXF58ib0Tr4fcw",
                               client_secret="1hXSX11y-nMi8Fobsp9NDMiT7s0mMA",
                               user_agent="TA Strike Scraper UCSB",
                               check_for_async=False)
#the subreddit that I'm using
subreddit = reddit_read_only.subreddit("UCSantaBarbara")

#checking for keywords
keyword_list = ["strike", "graduate student workers" "salary", "wages", "cola", " uaw ", "union", "tentative agreement", "picket"]

In [ ]:
#Note to future self: If you want to be extra careful, you can maybe look for a way to get comments only from those specific dates instead of 
#appending everything from the post that falls within the date

In [7]:
#week 0 all posts

posts = subreddit.new(limit=4000)

posts_dict0 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments":[]}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,11,7,0,0,0) < dt < datetime.datetime(2022,11,13,11,59,59):
    posts_dict0["Title"].append(post.title)
    posts_dict0["Post Text"].append(post.selftext)
    posts_dict0["Score"].append(post.score)
    posts_dict0["ID"].append(post.id)
    random_comment_list0=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list0.append(comment.body)
    posts_dict0["Total Comments"].append(random_comment_list0)
    posts_dict0["Total Number of Comments"].append(post.num_comments)

week0_posts = pd.DataFrame(posts_dict0)
week0_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,Triple Switch from Santa Rosa to Anacapa?,I’m a girl willing to switch to a triple in An...,0,ytyan5,"[i also hate santa rosa and wish to switch 😔, ...",3
1,CHEM 1 w/ Sylvester,Was trying to get Price for CHEM 1A but his cl...,2,ytwfdd,[Read the book and do the optional book proble...,2
2,PSTAT 5LS w/ Miller,How is the PSTAT 5LS course in general? Can an...,2,ytw1rp,[I signed up for that class & ik everyone says...,3
3,Lets do a chant,Say it after me on 3.\n3…..\n2…\n1..\n\nDEVANN...,0,ytvx3q,"[reddit moment, DEVANNNNN TREY, DEVANNNN TREY,...",5
4,Borrowing a monitor calibration tool,Hey everyone. \n\nI a here to ask if anyone ha...,2,ytvi8a,[],0
...,...,...,...,...,...,...
59,Should I keep doing work for the class I chang...,I have been taking (and spectacularly failing)...,1,yr6w9u,[I would say yes you should keep doing the wor...,2
60,PSTAT 5A or PSTAT 5LS??,hi I made a post earlier but I for some reason...,2,yr4tx8,"[5LS in my opinion, Any pstat 5 class counts t...",5
61,JAPAN 165 in spring?,Hey does anyone know the spring 2023 course li...,1,yr4lb3,[],0
62,Parking on campus at night,"I have a H permit for Santa Ynez, am I allowed...",1,yr42s0,"[Yep! Anytime after 5pm and you're good, You s...",5
63,Religion studies 1?,Anybody have any idea how religious studies 1 ...,7,yr3hs4,[],0

In [8]:
#week 1 all posts

posts = subreddit.new(limit=4000)

posts_dict1 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments": []}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,11,14,0,0,0) < dt < datetime.datetime(2022,11,20,11,59,59):
    posts_dict1["Title"].append(post.title)
    posts_dict1["Post Text"].append(post.selftext)
    posts_dict1["Score"].append(post.score)
    posts_dict1["ID"].append(post.id)
    random_comment_list1=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list1.append(comment.body)
    posts_dict1["Total Comments"].append(random_comment_list1)
    posts_dict1["Total Number of Comments"].append(post.num_comments)
 
week1_posts = pd.DataFrame(posts_dict1)
week1_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,are parents allowed into the dining hall?,can our parents pay for a meal at the dining h...,5,yzztnl,[Pretty sure you can do it any weekend. I did ...,6
1,Compensation at the University of California: ...,&#x200B;\n\nhttps://preview.redd.it/ngba5ddct1...,53,yzwxfc,[Wtf are these coaches getting paid??\nThe UCL...,43
2,Entrepreneurship or Student Startup Center dis...,I am looking for an Entrepreneurship or Studen...,1,yzvapd,[],0
3,Biggest union strike in higher education US hi...,,52,yzsnvh,"[[removed], Fuck off bot, /u/donkeylure is a k...",3
4,Is Professor Gerardo Aldana an actor?,That council person in Wakanda Forever looks f...,94,yzrwyz,"[Heyo what the… He has a whole IMDb page, yes,...",4
...,...,...,...,...,...,...
120,Can someone send me the email that explains th...,Please 🙏🏽,12,yurpnm,"[When I attended UCSB in 2008-2013, they let u...",3
121,"HOUSING 2023-2024 ADVICE (3 BR, 2 BA)",Hello! \n\nI have a group of 4 friends includi...,0,yuqzpa,"[Ur asking for a lot from iv 💀, Just letting y...",8
122,Want to make new friends,It’s pretty late into the quarter but I’m hopi...,18,yuqv12,"[I’m down to be friends, I'm down! I also read...",2
123,LING 70 (language in society w/Kennedy),need a GE for winter quarter to get next pass ...,3,yupgij,"[Man is the goat, prof kennedy is the best, th...",6
124,Looking for an ochem tutor,I’m taking 109A right now. Not doing too well....,3,yujs2c,"[Lewis rlly do be putting u thru it, I’m strug...",11

In [10]:
#week 2 all posts

posts = subreddit.new(limit=4000)

posts_dict2 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments": []}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,11,21,0,0,0) < dt < datetime.datetime(2022,11,27,11,59,59):
    posts_dict2["Title"].append(post.title)
    posts_dict2["Post Text"].append(post.selftext)
    posts_dict2["Score"].append(post.score)
    posts_dict2["ID"].append(post.id)
    random_comment_list2=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list2.append(comment.body)
    posts_dict2["Total Comments"].append(random_comment_list2)
    posts_dict2["Total Number of Comments"].append(post.num_comments)

 
week2_posts = pd.DataFrame(posts_dict2)
week2_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,Is dorm housing first come first serve?,"For housing next year, does filling out the ho...",2,z5rzrn,"[No, It's a lottery. They send out invites to ...",3
1,uc to uc transfer ?? pls help,"hey guys, i am looking to transfer from ucsb t...",0,z5pdpm,[I transferred from UCSC to UC Davis in my und...,4
2,who wants to start a cover band w me,ok so its been a wild idea of mine for the lon...,16,z5o5jj,[i’m in if you get a drummer i play guitar and...,8
3,"angry ""Part Time"" graduate researcher","If I get one more email from ucsb, or see anot...",223,z5mxfd,[Not to mention that some departments ask the ...,13
4,CalPrig Fee,"I tried to cancel my cal prig fee last summer,...",0,z5j0w0,[https://www.instagram.com/ucsbcalpirg/?hl=en\...,1
...,...,...,...,...,...,...
58,My Roommate Lost Her Purse (Reward),"My roommate lost her small, black purse last n...",3,z0rgpp,[30 dollars alone doesn't cover the two vapes....,1
59,Laying off TAs,Interesting how the COLA strike in 2020 only s...,114,z0rd64,[They believe that because we were remote and ...,62
60,00711.JPG 👤,,122,z0rb4p,[What’s a seniorbook? Definitely didn’t get on...,10
61,IV Housing,what are some good apartments to look at? i do...,6,z0qcls,[Stay as far away from campus 880 as humanly p...,6
62,Is PSTAT 126 final usually online?,Next quarter I’m taking Pstat 126 with Baracal...,3,z0ln45,[I took it with Yu but we had an in person exa...,3

In [11]:
#week 3 all posts

posts = subreddit.new(limit=4000)

posts_dict3 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments": []}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,11,28,0,0,0) < dt < datetime.datetime(2022,12,4,11,59,59):
    posts_dict3["Title"].append(post.title)
    posts_dict3["Post Text"].append(post.selftext)
    posts_dict3["Score"].append(post.score)
    posts_dict3["ID"].append(post.id)
    random_comment_list3=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list3.append(comment.body)
    posts_dict3["Total Comments"].append(random_comment_list3)
    posts_dict3["Total Number of Comments"].append(post.num_comments)
 
week3_posts = pd.DataFrame(posts_dict3)
week3_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,Trop villas discord,anyone know if there’s a discord for tropicana...,3,zc37va,"[No discord, just groupme, it depends on which...",1
1,tips to study for ochem final?,how should i study for lewis’ final? is his fi...,5,zc2ppc,"[I can’t recommend this enough, do the workshe...",7
2,strike + grades + losing financial aid…,i know that even with the strike going on we w...,28,zbzsj5,[you’ll be fine. they also have a calculation ...,12
3,UCSB dorm bed model make,I just broke one of the railings on my bunk be...,6,zbypcj,[honestly UC might just repair it for free. se...,7
4,Looking for roomie!!,hi! I’m looking for 1 more girl to join our ro...,4,zbwg26,[messaged you :) !!],1
...,...,...,...,...,...,...
82,didn't receive fedex package (??),this was my first time buying something that d...,7,z77sej,"[Same thing happened to me a few weeks ago, it...",11
83,Rec classes are charging me full price instead...,Anyone else experiencing this issue?,13,z72kak,"[Well I have this crazy idea to fix it, hear m...",12
84,Is anyone driving up from LA area this week?,Specifically in or passing through the West Ho...,0,z6sb4h,[ask on the UCSB/SOCAL Rideshare Group on Face...,2
85,ENVS 171: problem set 2,anyone know how to do #2 :((((( ive been worki...,4,z6mb2g,[],0
86,Candlelight Mourning for Xinjiang Urumqi Fire ...,This is an event organized by UCSB students to...,132,z6jjh7,"[And guys, before joining the telegram groupch...",40

In [12]:
#week 4 all posts

posts = subreddit.new(limit=4000)

posts_dict4 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments": []}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,12,5,0,0,0) < dt < datetime.datetime(2022,12,11,11,59,59):
    posts_dict4["Title"].append(post.title)
    posts_dict4["Post Text"].append(post.selftext)
    posts_dict4["Score"].append(post.score)
    posts_dict4["ID"].append(post.id)
    random_comment_list4=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list4.append(comment.body)
    posts_dict4["Total Comments"].append(random_comment_list4)
    posts_dict4["Total Number of Comments"].append(post.num_comments)
 
week4_posts = pd.DataFrame(posts_dict4)
week4_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,university apartments,can anyone who’s living or has lived in univer...,0,zim49i,[The university apartments can be nice because...,8
1,"HELP, please 🥺 My cat got out near The Sweeps ...",,156,zij4fs,[Cats are good with finding their way back hom...,8
2,Uber eats,I was wondering if anyone worked for food deli...,0,ziiwov,[You just have to report how much you make. It...,1
3,Where do I live next year?,i’m a freshman this year living in the dorms. ...,9,zigo7g,[A lot of the tuition money when you live in d...,23
4,Chances I get a B-?,If I have a 68% right now and the prof curves ...,0,zifgbn,"[what class is it, Most professors curve the a...",4
...,...,...,...,...,...,...
107,Does anyone have notes for Hist 4A?,I was pretty sick (physically and mentally) fr...,0,zct0oy,[I don't have any notes but I just made a stud...,2
108,RGST 27 Notes needed,RGST27 with Professor Wolfson\n\nIs there a cu...,1,zcrzvl,[],0
109,lil unfair tbh,,338,zcrsfw,[Bruh finals are getting canceled for some peo...,17
110,PRIMAL SCREAM TONIGHT,"11:59pm at storke tower, get ready to scream 🤯",8,zcrf3q,[],0
111,UCSB Financial Aid wants money back,"Hi! So for a previous quarter, I received bot...",5,zcr1dd,[Contact the financial aid office and ask if y...,1

In [ ]:
week4_posts.loc[week4_posts['Score'] == max(week4_posts['Score'])]

,Title,Post Text,Score,ID,Total Comments
29,Anyone else get verbally abused by their landl...,,490,zgsc24,[Talk to isla Vista Tennant's union!!! Free se...

In [13]:
#week 5 all posts

posts = subreddit.new(limit=4000)

posts_dict5 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments":[]}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,12,12,0,0,0) < dt < datetime.datetime(2022,12,18,11,59,59):
    posts_dict5["Title"].append(post.title)
    posts_dict5["Post Text"].append(post.selftext)
    posts_dict5["Score"].append(post.score)
    posts_dict5["ID"].append(post.id)
    random_comment_list5=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list5.append(comment.body)
    posts_dict5["Total Comments"].append(random_comment_list5)
    posts_dict5["Total Number of Comments"].append(post.num_comments)
 
week5_posts = pd.DataFrame(posts_dict5)
week5_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,when you get out of munger hall,,67,zotv0n,"[Lol, poverty]",1
1,How many times can you retake a course?,Anyone know if it’s only twice?,6,zotdry,[Every repeat after the first repeat (2nd take...,4
2,Does anyone know where I can find a soldering ...,Title,3,zoqn2e,[IEEE lab! You will have to pay the lab use fe...,2
3,How many waitlist students are usually accepte...,My place in the section’s waitlist is 56 and I...,4,zopi3s,[If you are still on the wait list by the time...,1
4,"it says i got a D in chem 1A, but it says i go...",,21,zop2h2,[The correct answer is: you should ask an advi...,9
...,...,...,...,...,...,...
98,Munger Hall???,,24,zjvlbu,"[Savage, yours was first, but the more recent ...",1
99,Question About Taking Several UD Classes At Once,hello lol.\n\nsorry if this is a silly questio...,1,zjsct5,"[yes, i assume that'll be in your 3rd+ year? t...",4
100,Is this doable? thoughts?,,21,zjr2e7,"[Yes, This is like, the most doable schedule i...",18
101,chem 109b lewis syllabus,does anyone have the syllabus for this class? ...,1,zjo1mw,[],0
102,Apartment Search Help,Looking to rent an apartment for next school y...,0,zjgiax,[End of January. Being early never hurts thoug...,2

In [ ]:
week5_posts.loc[week5_posts['Score'] == max(week5_posts['Score'])]

,Title,Post Text,Score,ID,Total Comments
32,Storke Tower,,277,z28huq,[There used to be a whole server of the campus...

In [14]:
#week 6 all posts

posts = subreddit.new(limit=4000)

posts_dict6 = {"Title": [], "Post Text": [], "Score": [], "ID": [], "Total Comments": [], "Total Number of Comments":[]}
 
for post in posts:
  dt=datetime.datetime.utcfromtimestamp(post.created_utc)
  if datetime.datetime(2022,12,19,0,0,0) < dt < datetime.datetime(2022,12,25,11,59,59):
    posts_dict6["Title"].append(post.title)
    posts_dict6["Post Text"].append(post.selftext)
    posts_dict6["Score"].append(post.score)
    posts_dict6["ID"].append(post.id)
    random_comment_list6=[]
    post.comments.replace_more(limit=0)
    for comment in post.comments.list():
      random_comment_list6.append(comment.body)
    posts_dict6["Total Comments"].append(random_comment_list6)
    posts_dict6["Total Number of Comments"].append(post.num_comments)
 
week6_posts = pd.DataFrame(posts_dict6)
week6_posts

,Title,Post Text,Score,ID,Total Comments,Total Number of Comments
0,Anyone staying in IV for Christmas?,"Hey everyone, since I’m staying in IV for Chri...",52,zuvxyp,[Damn bruh sorry for you but merry Christmas; ...,17
1,Dropped PSTAT 8 on GOLD and it also dropped my...,Merry Christmas. I was looking at GOLD because...,1,zutubg,[The system doesn’t just drop people. It’s eit...,4
2,160b with Shkolnik,Has anyone taken 160b with Shkolnik? I've hear...,2,zup0on,"[What department is this? PSTAT 160B?, Last wi...",12
3,Mental Illness Resources?,"Hello everyone. Recently, I’ve been thinking a...",31,zunvbu,"[Skip caps, if you want actual help schedule a...",7
4,Is Financial Math not a major anymore on GOLD?,So basically I am doing Grad School applicatio...,17,zuhqwz,"[No, GOLD doesn’t recognize your major anymore...",9
...,...,...,...,...,...,...
71,How likely will I get off the waitlist? Class ...,,14,zpmrta,"[Odds aren't great, aren't awful. You should s...",9
72,CS to Stats/Data Science,"So I'm currently a third year (not transfer), ...",7,zpm68i,"[For linguistics, have you taken the language ...",3
73,Going from Chem2b to chem1b,Is it possible for me to drop out from the hon...,2,zpl1uo,[i’m pretty sure you’d have to wait on the wai...,2
74,"MATH 4B, 6A, 8 + 2 GE Courses?",Is this doable? I think I will be competent en...,3,zpfygh,"[Just so you know, Math 8 is unironically quit...",15
75,English 10 lecture + final,I have another class with a final at the same ...,1,zpe7wd,[I took engl 10 with Andrew Griffin and our fi...,1

In [133]:
from pandas import option_context

In [156]:
#Top 10 most commented on posts on reddit!
df_for_comments0 = week0_posts[['Title', 'Total Number of Comments']]
df_for_comments1 = week1_posts[['Title', 'Total Number of Comments']]
df_for_comments2 = week2_posts[['Title', 'Total Number of Comments']]
df_for_comments3 = week3_posts[['Title', 'Total Number of Comments']]
df_for_comments4 = week4_posts[['Title', 'Total Number of Comments']]
df_for_comments5 = week5_posts[['Title', 'Total Number of Comments']]
df_for_comments6 = week6_posts[['Title', 'Total Number of Comments']]
df_for_commentscombined=pd.concat([df_for_comments0, df_for_comments1, df_for_comments2, df_for_comments3,df_for_comments4,df_for_comments5,df_for_comments6], ignore_index=True,axis=0)

mostcommenteddf=df_for_commentscombined.nlargest(10, ['Total Number of Comments'])
mostcommenteddf

,Title,Total Number of Comments
418,For the strikers at the parking lots,187
307,Students against the strike,140
144,To TAs who aren’t striking in solidarity with ...,139
141,Double their pay or shut the fuck down.,132
106,Grad worker union bargaining: FAQs for undergrads,129
420,To the strikers blocking Mesa parking lot,103
368,Anyone else get verbally abused by their landl...,100
382,The “strikes are supposed to be disruptive” ar...,100
248,Laying off TAs,62
387,What happened to the strike not effecting the ...,62

In [157]:
mostcommenteddf.style.format({"Total Number of Comments": "${:20,.0f}"})\
                 .format({"Title": lambda x:x, "Score": lambda x:x,
                          "Post Text": lambda x:x})\
                 .apply(lambda x: ['background: cornsilk' if (x.name not in [368]) else '' for i in x], axis=1)\
                 .hide_index()\
                 .bar(subset=["Total Number of Comments",], color='lightblue')\
                 .set_properties(**{"border": "2px solid gray",  "font-size": "11px"})

In [116]:
#Top 10 most upvoted posts on reddit!
df_for_score0 = week0_posts[['Title', 'Score']]
df_for_score1 = week1_posts[['Title', 'Score']]
df_for_score2 = week2_posts[['Title', 'Score']]
df_for_score3 = week3_posts[['Title', 'Score']]
df_for_score4 = week4_posts[['Title', 'Score']]
df_for_score5 = week5_posts[['Title', 'Score']]
df_for_score6 = week6_posts[['Title', 'Score']]
df_for_scorescombined=pd.concat([df_for_score0, df_for_score1, df_for_score2, df_for_score3,df_for_score4,df_for_score5,df_for_score6], ignore_index=True,axis=0)

mostscoreddf=df_for_scorescombined.nlargest(10, ['Score'])
mostscoreddf

                                                 Title  Score
368  Anyone else get verbally abused by their landl...    488
106  Grad worker union bargaining: FAQs for undergrads    416
158                  repost from r/UCSD: Solidarity 💪🏻    361
413                          Begun, the meme wars have    340
448                                     lil unfair tbh    338
418               For the strikers at the parking lots    314
433                    I always forget it’s even there    288
39                                          Only in IV    275
221                                       Storke Tower    274
242                                        Found Bunny    269

In [149]:
mostscoreddf.style.format({"Score": "${:20,.0f}"})\
                 .format({"Title": lambda x:x, "Score": lambda x:x})\
                 .apply(lambda x: ['background: cornsilk' if (x.name not in [242,221,39,368, 433]) else '' for i in x], axis=1)\
                 .hide_index()\
                 .bar(subset=["Score",], color='lightblue')\
                 .set_properties(**{"border": "2px solid gray",  "font-size": "10px"})

In [ ]:
#function for checking if something contains the keyword
def has_any_keyword(mystring,keywords):
  for word in mystring.split():
    for keyword in keywords:
      if keyword in word.lower():
        return True
  return False
has_any_keyword(r"Apparently it was up on Gradescope for like 20 minutes on Monday so it's done being graded and they are just withholding it for some reason, my friend was their score but I missed it before they removed it", keyword_list)

False

In [ ]:
#Creating a dataframe to check if posts, subtext, or comments that contain a keyword.
#if so, append!

newdf0 = pd.DataFrame(posts_dict0)
list0=[]
for i in range(0,len(week0_posts)):
  if has_any_keyword(week0_posts['Title'].iloc[i],keyword_list):
    list0.append(i)
  if has_any_keyword(week0_posts['Post Text'].iloc[i],keyword_list):
    list0.append(i)
  for j in week0_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list0.append(i)
emptylist0=[*set(list0)]
newdf0=week0_posts.iloc[emptylist0]

newdf1 = pd.DataFrame(posts_dict1)
list1=[]
for i in range(0,len(week1_posts)):
  if has_any_keyword(week1_posts['Title'].iloc[i],keyword_list):
    list1.append(i)
  if has_any_keyword(week1_posts['Post Text'].iloc[i],keyword_list):
    list1.append(i)
  for j in week1_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list1.append(i)
emptylist1=[*set(list1)]
newdf1=week1_posts.iloc[emptylist1]

newdf2 = pd.DataFrame(posts_dict2)
list2=[]
for i in range(0,len(week2_posts)):
  if has_any_keyword(week2_posts['Title'].iloc[i],keyword_list):
    list2.append(i)
  if has_any_keyword(week2_posts['Post Text'].iloc[i],keyword_list):
    list2.append(i)
  for j in week2_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list2.append(i)
emptylist2=[*set(list2)]
newdf2=week2_posts.iloc[emptylist2]

newdf3 = pd.DataFrame(posts_dict3)
list3=[]
for i in range(0,len(week3_posts)):
  if has_any_keyword(week3_posts['Title'].iloc[i],keyword_list):
    list3.append(i)
  if has_any_keyword(week3_posts['Post Text'].iloc[i],keyword_list):
    list3.append(i)
  for j in week3_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list3.append(i)
emptylist3=[*set(list3)]
newdf3=week3_posts.iloc[emptylist3]

newdf4 = pd.DataFrame(posts_dict4)
list4=[]
for i in range(0,len(week4_posts)):
  if has_any_keyword(week4_posts['Title'].iloc[i],keyword_list):
    list4.append(i)
  if has_any_keyword(week4_posts['Post Text'].iloc[i],keyword_list):
    list4.append(i)
  for j in week4_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list4.append(i)
emptylist4=[*set(list4)]
newdf4=week4_posts.iloc[emptylist4]

newdf5 = pd.DataFrame(posts_dict5)
list5=[]
for i in range(0,len(week5_posts)):
  if has_any_keyword(week5_posts['Title'].iloc[i],keyword_list):
    list5.append(i)
  if has_any_keyword(week5_posts['Post Text'].iloc[i],keyword_list):
    list5.append(i)
  for j in week5_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list5.append(i)
emptylist5=[*set(list5)]
newdf5=week5_posts.iloc[emptylist5]

newdf6 = pd.DataFrame(posts_dict6)
list6=[]
for i in range(0,len(week6_posts)):
  if has_any_keyword(week6_posts['Title'].iloc[i],keyword_list):
    list6.append(i)
  if has_any_keyword(week6_posts['Post Text'].iloc[i],keyword_list):
    list6.append(i)
  for j in week6_posts['Total Comments'][i]:
    if has_any_keyword(j,keyword_list):
        list6.append(i)
emptylist6=[*set(list6)]
newdf6=week6_posts.iloc[emptylist6]

In [ ]:
'''
Data cleaning time! Set it to these conditions!
Conditions:

1.) If a comment has a keyword but the post doesn’t, return that singular comment in the column and make the combined column NA
2.) If the combined column has the keyword then return both values of the combined column and the comments
'''

In [ ]:
newdf0.head()
newdf0['Combined Title and Subtext']=newdf0['Title']+'            '+newdf0['Post Text']
newdf0=newdf0[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf0)):
  #Combined
  if has_any_keyword(newdf0['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf0.at[newdf0.index[i],'Combined Title and Subtext'])
    newdf0['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf0['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf0['Total Comments'].iloc[i].remove(j)
        

newdf0.replace('', np.nan, inplace=True)
newdf0

for i in range(0, len(newdf0)):
  if newdf0['Total Comments'].iloc[i]==[]:
    newdf0['Total Comments'].iloc[i]=np.nan

<ipython-input-43-718bc7b2aadc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf0['Combined Title and Subtext']=newdf0['Title']+'            '+newdf0['Post Text']
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
newdf0

,Score,ID,Total Comments,Combined Title and Subtext
18,0,yt3lho,NaN,Math 3b with Becker What has helped...
52,120,yro1cg,[Stop trying to appropriate the strike for Wil...,Graduate students in the UAW are scheduled to ...
29,1,ysrnby,NaN,Comm 107 anyone in comm 107 know if...

In [ ]:
newdf1.head()
newdf1['Combined Title and Subtext']=newdf1['Title']+'            '+newdf1['Post Text']
newdf1=newdf1[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf1)):
  #Combined
  if has_any_keyword(newdf1['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf1.at[newdf1.index[i],'Combined Title and Subtext'])
    newdf1['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf1['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf1['Total Comments'].iloc[i].remove(j)
        

newdf1.replace('', np.nan, inplace=True)
newdf1

for i in range(0, len(newdf1)):
  if newdf1['Total Comments'].iloc[i]==[]:
    newdf1['Total Comments'].iloc[i]=np.nan

<ipython-input-46-f7df0e367f68>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf1['Combined Title and Subtext']=newdf1['Title']+'            '+newdf1['Post Text']
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
newdf2.head()
newdf2['Combined Title and Subtext']=newdf2['Title']+'            '+newdf2['Post Text']
newdf2=newdf2[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf2)):
  #Combined
  if has_any_keyword(newdf2['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf2.at[newdf2.index[i],'Combined Title and Subtext'])
    newdf2['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf2['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf2['Total Comments'].iloc[i].remove(j)
        

newdf2.replace('', np.nan, inplace=True)
newdf2

for i in range(0, len(newdf2)):
  if newdf2['Total Comments'].iloc[i]==[]:
    newdf2['Total Comments'].iloc[i]=np.nan

<ipython-input-48-3539e0ebb927>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2['Combined Title and Subtext']=newdf2['Title']+'            '+newdf2['Post Text']
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [ ]:
newdf3.head()
newdf3['Combined Title and Subtext']=newdf3['Title']+'            '+newdf3['Post Text']
newdf3=newdf3[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf3)):
  #Combined
  if has_any_keyword(newdf3['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf3.at[newdf3.index[i],'Combined Title and Subtext'])
    newdf3['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf3['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf3['Total Comments'].iloc[i].remove(j)
        

newdf3.replace('', np.nan, inplace=True)
newdf3

for i in range(0, len(newdf3)):
  if newdf3['Total Comments'].iloc[i]==[]:
    newdf3['Total Comments'].iloc[i]=np.nan

<ipython-input-49-af5cf527d374>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf3['Combined Title and Subtext']=newdf3['Title']+'            '+newdf3['Post Text']
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
newdf4.head()
newdf4['Combined Title and Subtext']=newdf4['Title']+'            '+newdf4['Post Text']
newdf4=newdf4[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf4)):
  #Combined
  if has_any_keyword(newdf4['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf4.at[newdf4.index[i],'Combined Title and Subtext'])
    newdf4['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf4['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf4['Total Comments'].iloc[i].remove(j)
        

newdf4.replace('', np.nan, inplace=True)
newdf4

for i in range(0, len(newdf4)):
  if newdf4['Total Comments'].iloc[i]==[]:
    newdf4['Total Comments'].iloc[i]=np.nan

<ipython-input-50-17441a0e9a4d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf4['Combined Title and Subtext']=newdf4['Title']+'            '+newdf4['Post Text']

In [ ]:
newdf5.head()
newdf5['Combined Title and Subtext']=newdf5['Title']+'            '+newdf5['Post Text']
newdf5=newdf5[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf5)):
  #Combined
  if has_any_keyword(newdf5['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf5.at[newdf5.index[i],'Combined Title and Subtext'])
    newdf5['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf5['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf5['Total Comments'].iloc[i].remove(j)
        
newdf5.replace('', np.nan, inplace=True)
newdf5

for i in range(0, len(newdf5)):
  if newdf5['Total Comments'].iloc[i]==[]:
    newdf5['Total Comments'].iloc[i]=np.nan

<ipython-input-51-445f4b3053b5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf5['Combined Title and Subtext']=newdf5['Title']+'            '+newdf5['Post Text']

In [ ]:
newdf6.head()
newdf6['Combined Title and Subtext']=newdf6['Title']+'            '+newdf6['Post Text']
newdf6=newdf6[['Score','ID','Total Comments','Combined Title and Subtext']]

for i in range(0,len(newdf6)):
  #Combined
  if has_any_keyword(newdf6['Combined Title and Subtext'].iloc[i],keyword_list)==False:
    combined = str(newdf6.at[newdf6.index[i],'Combined Title and Subtext'])
    newdf6['Combined Title and Subtext'].replace(combined,"", inplace=True)
  #Comments
  comments = newdf6['Total Comments'].iloc[i]
  for j in comments:
    if has_any_keyword(j,keyword_list) == False:
      newdf6['Total Comments'].iloc[i].remove(j)
        
newdf6.replace('', np.nan, inplace=True)
newdf6

for i in range(0, len(newdf6)):
  if newdf6['Total Comments'].iloc[i]==[]:
    newdf6['Total Comments'].iloc[i]=np.nan

<ipython-input-52-14606c7d2704>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf6['Combined Title and Subtext']=newdf6['Title']+'            '+newdf6['Post Text']

In [ ]:
newdf0

,Title,Post Text,Score,ID,Total Comments
18,Math 3b with Becker,What has helped you learn the material?? I’m ...,0,yt3lho,[]
52,Graduate students in the UAW are scheduled to ...,\n\nAcademic workers in the United Auto Work...,120,yro1cg,[Stop trying to appropriate the strike for Wil...
29,Comm 107,anyone in comm 107 know if our ta is going on ...,1,ysrnby,[]

In [ ]:
commentsdf0=newdf0['Total Comments']
commentsdf1=newdf1['Total Comments']
commentsdf2=newdf2['Total Comments']
commentsdf3=newdf3['Total Comments']
commentsdf4=newdf4['Total Comments']
commentsdf5=newdf5['Total Comments']
commentsdf6=newdf6['Total Comments']
commentsdf0=commentsdf0.explode('Total Comments')
commentsdf1=commentsdf1.explode('Total Comments')
commentsdf2=commentsdf2.explode('Total Comments')
commentsdf3=commentsdf3.explode('Total Comments')
commentsdf4=commentsdf4.explode('Total Comments')
commentsdf5=commentsdf5.explode('Total Comments')
commentsdf6=commentsdf6.explode('Total Comments')
commentsdf0=commentsdf0.dropna()
commentsdf1=commentsdf1.dropna()
commentsdf2=commentsdf2.dropna()
commentsdf3=commentsdf3.dropna()
commentsdf4=commentsdf4.dropna()
commentsdf5=commentsdf6.dropna()
commentsdf6=commentsdf6.dropna()
newdf0['Combined Title and Subtext']=newdf0['Combined Title and Subtext'].dropna()
newdf1['Combined Title and Subtext']=newdf1['Combined Title and Subtext'].dropna()
newdf2['Combined Title and Subtext']=newdf2['Combined Title and Subtext'].dropna()
newdf3['Combined Title and Subtext']=newdf3['Combined Title and Subtext'].dropna()
newdf4['Combined Title and Subtext']=newdf4['Combined Title and Subtext'].dropna()
newdf5['Combined Title and Subtext']=newdf5['Combined Title and Subtext'].dropna()
newdf6['Combined Title and Subtext']=newdf6['Combined Title and Subtext'].dropna()

<ipython-input-53-c8998024d95b>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf1['Combined Title and Subtext']=newdf1['Combined Title and Subtext'].dropna()

In [ ]:
combined_df0 = pd.concat([commentsdf0, newdf0['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df1 = pd.concat([commentsdf1, newdf1['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df2 = pd.concat([commentsdf2, newdf2['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df3 = pd.concat([commentsdf3, newdf3['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df4 = pd.concat([commentsdf4, newdf4['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df5 = pd.concat([commentsdf5, newdf5['Combined Title and Subtext']], ignore_index=True,axis=0)
combined_df6 = pd.concat([commentsdf6, newdf6['Combined Title and Subtext']], ignore_index=True,axis=0)

In [ ]:
print(f'The sample size of posts/comments in week 0 is {len(combined_df0)}')
print(f'The sample size of posts/comments in week 1 is {len(combined_df1)}')
print(f'The sample size of posts/comments in week 2 is {len(combined_df2)}')
print(f'The sample size of posts/comments in week 3 is {len(combined_df3)}')
print(f'The sample size of posts/comments in week 4 is {len(combined_df4)}')
print(f'The sample size of posts/comments in week 5 is {len(combined_df5)}')
print(f'The sample size of posts/comments in week 6 is {len(combined_df6)}')

The sample size of posts/comments in week 0 is 10
The sample size of posts/comments in week 1 is 223
The sample size of posts/comments in week 2 is 57
The sample size of posts/comments in week 3 is 128
The sample size of posts/comments in week 4 is 375
The sample size of posts/comments in week 5 is 41
The sample size of posts/comments in week 6 is 42

In [ ]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
combined_df=pd.concat([combined_df0, combined_df1, combined_df2, combined_df3, combined_df4, combined_df5, combined_df6], axis=1)
combined_df=combined_df.rename(columns={0: "Week 0", 1: "Week 1", 2: "Week 2", 3: "Week 3", 4: "Week 4", 5: "Week 5", 6: "Week 6"})
combined_df

,Week 0,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6
0,Stop trying to appropriate the strike for Will...,"Look, I think the chancellors should be payed ...","On monday, he said they would be submitted by ...",i asked the counselor for my scholarship and s...,They're on strike dawg,Some details:\n\n34k @ 50% time\n\nChildcare r...,Some details:\n\n34k @ 50% time\n\nChildcare r...
1,"Honor the picket. If you can, join the picket...",Y’all hating on Yang so hard. Chancellor Yang ...,ta’s should be on strike 😤,It shouldn’t affect financial aid because we a...,"If your TA is on strike, which it sounds like ...",Need some fair wages ?\n\n![gif](giphy|LHPRtWU...,Need some fair wages ?\n\n![gif](giphy|LHPRtWU...
2,What? Will Lehman's campaign is directly relat...,There are 3000 grad students at UCSB,Smart TAs who are on strike will keep up with ...,"To be clear, it was the UC that broke the law ...","I could be wrong, but if i recall correctly, m...",34k??,34k??
3,Yet another person with seemingly no connectio...,Which deans in particular do you think are unn...,This is terrible. I’m so sorry you are going t...,https://drive.google.com/file/d/1bdimUgDCqYTH5...,postdoctoral + academic researchers != TAs. ak...,"Notably, more than half of the raise from the ...","Notably, more than half of the raise from the ..."
4,Not my strike? The working class shares the sa...,"I mostly agree, but people who are leading the...",Hey! This is unrelated to the strike. But one ...,"No way, could be the same guy?? What did he lo...",An email from UCLA\nDear Bruin Community:\nWe ...,"one of my professors talked about the strike, ...","one of my professors talked about the strike, ..."
...,...,...,...,...,...,...,...
370,NaN,NaN,NaN,NaN,For the strikers at the parking lots ...,NaN,NaN
371,NaN,NaN,NaN,NaN,To the strikers blocking Mesa parking lot ...,NaN,NaN
372,NaN,NaN,NaN,NaN,UC Strike: Cave In? Hell No! Escalate the Stri...,NaN,NaN
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sid = SentimentIntensityAnalyzer()

res0 = [*combined_df["Week 0"].dropna().apply(sid.polarity_scores)]
res1 = [*combined_df["Week 1"].dropna().apply(sid.polarity_scores)]
res2 = [*combined_df["Week 2"].dropna().apply(sid.polarity_scores)]
res3 = [*combined_df["Week 3"].dropna().apply(sid.polarity_scores)]
res4 = [*combined_df["Week 4"].dropna().apply(sid.polarity_scores)]
res5 = [*combined_df["Week 5"].dropna().apply(sid.polarity_scores)]
res6 = [*combined_df["Week 6"].dropna().apply(sid.polarity_scores)]

In [ ]:
sentiment_df = pd.DataFrame.from_records(res0)
newerdf0 = pd.concat([combined_df["Week 0"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res1)
newerdf1 = pd.concat([combined_df["Week 1"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res2)
newerdf2 = pd.concat([combined_df["Week 2"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res3)
newerdf3 = pd.concat([combined_df["Week 3"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res4)
newerdf4 = pd.concat([combined_df["Week 4"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res5)
newerdf5 = pd.concat([combined_df["Week 5"], sentiment_df], axis=1, join='inner')

sentiment_df = pd.DataFrame.from_records(res6)
newerdf6 = pd.concat([combined_df["Week 6"], sentiment_df], axis=1, join='inner')

In [ ]:
THRESHOLD = 0.15

#week 0
conditions = [
    (newerdf0['compound'] <= -THRESHOLD),
    (newerdf0['compound'] > -THRESHOLD) & (newerdf0['compound'] < THRESHOLD),
    (newerdf0['compound'] >= THRESHOLD),
    ]

values = ["negative", "neutral", "positive"]
newerdf0['sentiment'] = np.select(conditions, values)

#week1
conditions = [
    (newerdf1['compound'] <= -THRESHOLD),
    (newerdf1['compound'] > -THRESHOLD) & (newerdf1['compound'] < THRESHOLD),
    (newerdf1['compound'] >= THRESHOLD),
    ]

values = ["negative", "neutral", "positive"]
newerdf1['sentiment'] = np.select(conditions, values)

#week2
conditions = [
    (newerdf2['compound'] <= -THRESHOLD),
    (newerdf2['compound'] > -THRESHOLD) & (newerdf2['compound'] < THRESHOLD),
    (newerdf2['compound'] >= THRESHOLD),
    ]

values = ["negative", "neutral", "positive"]
newerdf2['sentiment'] = np.select(conditions, values)

#week3
conditions = [(newerdf3['compound'] <= -THRESHOLD), (newerdf3['compound'] > -THRESHOLD) & (newerdf3['compound'] < THRESHOLD), (newerdf3['compound'] >= THRESHOLD),]

values = ["negative", "neutral", "positive"]
newerdf3['sentiment'] = np.select(conditions, values)

#week4

conditions = [(newerdf4['compound'] <= -THRESHOLD), (newerdf4['compound'] > -THRESHOLD) & (newerdf4['compound'] < THRESHOLD), (newerdf4['compound'] >= THRESHOLD),]

values = ["negative", "neutral", "positive"]
newerdf4['sentiment'] = np.select(conditions, values)

#week5

conditions = [(newerdf5['compound'] <= -THRESHOLD), (newerdf5['compound'] > -THRESHOLD) & (newerdf5['compound'] < THRESHOLD), (newerdf5['compound'] >= THRESHOLD),]

values = ["negative", "neutral", "positive"]
newerdf5['sentiment'] = np.select(conditions, values)

#week6

conditions = [(newerdf6['compound'] <= -THRESHOLD), (newerdf6['compound'] > -THRESHOLD) & (newerdf6['compound'] < THRESHOLD), (newerdf6['compound'] >= THRESHOLD),]

values = ["negative", "neutral", "positive"]
newerdf6['sentiment'] = np.select(conditions, values)

In [ ]:
print("week0")
newerdf0.sentiment.value_counts()

week0

positive    6
negative    4
Name: sentiment, dtype: int64

In [ ]:
print("week1")
newerdf1.sentiment.value_counts()

week1

positive    109
negative     72
neutral      33
Name: sentiment, dtype: int64

In [ ]:
print("week2")
newerdf2.sentiment.value_counts()

week2

positive    26
negative    17
neutral     11
Name: sentiment, dtype: int64

In [ ]:
print("week3")
newerdf3.sentiment.value_counts()

week3

negative    54
positive    46
neutral     23
Name: sentiment, dtype: int64

In [ ]:
print("week4")
newerdf4.sentiment.value_counts()

week4

negative    167
positive    129
neutral      70
Name: sentiment, dtype: int64

In [ ]:
print("week5")
newerdf5.sentiment.value_counts()

week5

neutral     18
positive    11
negative    10
Name: sentiment, dtype: int64

In [ ]:
print("week6")
newerdf6.sentiment.value_counts()

week6

neutral     17
positive    11
negative     8
Name: sentiment, dtype: int64

In [ ]:
from google.colab import files
combined_df.to_csv('allreddittastrikeposts.csv', encoding = 'utf-8-sig') 
files.download('allreddittastrikeposts.csv')